<%= form_with(model: boilerplate) do |form| %>
  <% if boilerplate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(boilerplate.errors.count, "error") %> prohibited this boilerplate from being saved:</h2>

      <ul>
        <% boilerplate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :git_link, style: "display: block" %>
    <%= form.text_field :git_link %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
