<turbo-frame id="right-frame">
    <% if @project %>
        <div>
            <h2><%= @project.title %></h2>
        </div>
        <div>
          <%= link_to "Edit", edit_project_path(@project) %>
          <%= link_to "New Repository", new_repository_path(:project_id => @project) %>
          <%= button_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
        <div class="repositories">
          <h3>Repositories</h3>
          <% @project.repositories.each do |repository| %>
            <div>
              <p><b>Repository:</b> <%= repository.title %>
              </p>
              <p>
                <a href="<%= repository.remote_url %>">git</a>
                <%= link_to "View", repository_view_path(id: @project.id, repository_id: repository.id) %></p>
              </p>
            </div>
          <% end %>
        </div>
    <% end %>
</turbo-frame>
